.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0%;
    background-color: rgb(233, 175, 204);

}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a{
    color: aquamarine(254 ,252, 254);
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
}
.main-nav__item a:hover{
    color: chartreuse;

}
.main-nav__item a::after{
    content: " | ";
}